name: python-publish

on:
  push:
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/toolchain@v1.0.6
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: wasm32-unknown-unknown
      - uses: cargo-bins/cargo-binstall@main
      - name: Build wasm module
        run: |
          cargo binstall -y wasm-pack --force
          wasm-pack build ./crates/wasm --target web --out-dir ./pkg --release
        if: ${{ startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
      # - name: publish to npm registry
      #   run: |
      #     cd ./crates/wasm/pkg
      #     npm publish --access public
      - name: build pyi
        working-directory: crates/python
        run: |
          cargo run --bin stub_gen
      - name: Upload wasm pkg
        uses: actions/upload-artifact@v4
        with:
          name: wasm-pkg
          path: ./crates/wasm/pkg
      - name: Upload cosmol_viewer.pyi
        uses: actions/upload-artifact@v4
        with:
          name: pyi
          path: ./crates/python/cosmol_viewer.pyi

  linux:
    needs: wasm
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: x86
          - runner: ubuntu-22.04
            target: aarch64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Download wasm pkg
        uses: actions/download-artifact@v4
        with:
          name: wasm-pkg
          path: crates/wasm/pkg
      - name: Download pyi
        uses: actions/download-artifact@v4
        with:
          name: pyi
          path: ./crates/python/
      - name: Build wheels
        uses: PyO3/maturin-action@v1.49.4
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter --features x11,wayland
          working-directory: crates/python
          sccache: true
          manylinux: auto
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.platform.target }}
          path: crates/python/dist

  windows:
    needs: wasm
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-2025
            target: x64
          - runner: windows-2025
            target: x86
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
          architecture: ${{ matrix.platform.target }}
      - name: Download wasm pkg
        uses: actions/download-artifact@v4
        with:
          name: wasm-pkg
          path: crates/wasm/pkg
      - name: Download pyi
        uses: actions/download-artifact@v4
        with:
          name: pyi
          path: ./crates/python/
      - name: Build wheels
        uses: PyO3/maturin-action@v1.49.4
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter
          working-directory: crates/python
          sccache: true
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.platform.target }}
          path: crates/python/dist

  # windows-arm:
  #   needs: wasm
  #   runs-on: windows-11-arm
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: actions/setup-python@v6
  #       with:
  #         python-version: 3.x
  #         architecture: arm64
  #     - name: Download wasm pkg
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: wasm-pkg
  #         path: crates/wasm/pkg
  #     - name: Build wheels
  #       uses: PyO3/maturin-action@v1.49.4
  #       with:
  #         target: aarch64
  #         args: --release --out dist --find-interpreter
  #         working-directory: crates/python
  #         sccache: true
  #     - name: Upload wheels
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: wheels-windows-arm64
  #         path: crates/python/dist

  macos:
    needs: wasm
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-26
            target: x86_64
          - runner: macos-26
            target: aarch64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Download wasm pkg
        uses: actions/download-artifact@v4
        with:
          name: wasm-pkg
          path: crates/wasm/pkg
      - name: Download pyi
        uses: actions/download-artifact@v4
        with:
          name: pyi
          path: ./crates/python/
      - name: Build wheels
        uses: PyO3/maturin-action@v1.49.4
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter
          working-directory: crates/python
          sccache: true
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.platform.target }}
          path: crates/python/dist

  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          working-directory: crates/python
          args: --out dist
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: crates/python/dist

  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
    needs: [linux, windows, macos, sdist]
    # needs: [linux, windows, macos, windows-arm, sdist]
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/download-artifact@v4
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: "wheels-*/*"
      - name: Publish to PyPI
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing wheels-*/*
